<template name="success">

	<h2> Your Order was placed successfully</h2>
	<h2>Thank You for shopping with us</h2>

	<button class="default"> Go to Home Page </button>
<!-- 
	<h3> Order Details : </h3>
	<table class="table">
   <thead>
      <tr>
        
        <th>Product Id</th>
        <th>price</th>
        <th>quantity</th>
        
        
      </tr>
    </thead>
    <tbody>
    {{#if Template.subscriptionsReady}}
      {{#each ordered_products}}
        <tr>
          <td>{{id}}</td>
          <td>{{price}}</td>
          <td>{{quantity}}</td>
          

        </tr>
      {{/each}}
      {{/if}}


      
    </tbody>
  </table>
	 -->

</template>